.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform/terraform.tfvars
terraform/*.auto.tfvars
dist/
node_modules/
__pycache__/
*.pyc
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
